body {
  text-align: center;
  margin: auto;
  width: 350px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  background-color: #333;
}

h1 {
  color: #EEE;
  font-size: 50px;
}

.container {
  background-color: #999;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  height: 500px;
  border-radius: 5px;
  margin-top: 50px;
  padding: 10px;
  box-shadow: 3px 3px #666;

}

#display {
  background-color: #FFF;
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
  border-radius: 5px;
  margin: 5px;
  display: grid;
  grid-template: 1fr 2fr / 1fr;
  padding-right: 8px;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
}

#formula {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display:flex;
  align-items: center;
  justify-content: flex-end;
}

#number-display {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display:flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2.5em;
}

button {
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px #777;
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-color: #EEE;
}

button:focus {outline:0;}

button:active {
  background-color: #CCC;
  box-shadow: none;
}

#btn-9 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

#btn-8 {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

#btn-7 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

#btn-6 {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}

#btn-5 {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

#btn-4 {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

#btn-3 {
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
}

#btn-2 {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}

#btn-1 {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}

#btn-0 {
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
}

#btn-ce {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

#btn-equal {
  grid-column: 4 / span 1;
  grid-row: 6 / span 1;
}

#btn-plus {
  grid-column: 4 / span 1;
  grid-row: 2 / span 1;
}

#btn-minus {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}

#btn-times {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
}

#btn-divide {
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;
}

#btn-plusmn {
  grid-column: 1 / span 1;
  grid-row: 6 / span 1;
}

#btn-dot {
  grid-column: 3 / span 1;
  grid-row: 6 / span 1;
}

#btn-C {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

#btn-del {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
